body {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}


.hidden {
  display: none;
}

/* SCREEN 1 */
.purple {
  background: #6a0dad;
  display: flex;
  justify-content: center;
  align-items: center;
}

#startText {
  color: white;
  font-size: 48px;
  cursor: pointer;
  transition: transform 0.2s;
}

#startText:hover {
  transform: scale(1.1);
}

/* SCREEN 2 */
.red {
  background: #7a0000;
}

#stickman {
  position: absolute;
  left: 120px;
  top: 160px;

  width: 280px;           /* 🔥 BIGGER */
  max-width: 30vw;        /* responsive */

  pointer-events: auto;
  transition: transform 0.35s ease;
}

#stickman img {
  width: 100%;
  height: auto;
  pointer-events: none;
  user-select: none;
}


/* Weapon Box */
#weaponBox {
  position: absolute;
  right: 40px;
  top: 120px;

  width: 90px;
  padding: 14px;

  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.35);

  display: flex;
  flex-direction: column;
  gap: 14px;
  z-index: 10;

}

.weapon {
  font-size: 30px;
  width: 56px;
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255,255,255,0.25);
  border-radius: 12px;

  cursor: grab;
  transition: transform 0.15s ease, background 0.15s ease;
}

.weapon:hover {
  transform: scale(1.12);
  background: rgba(255,255,255,0.4);
}

.weapon:active {
  cursor: grabbing;
  transform: scale(0.95);
}


/* Message */
#message {
  position: absolute;
  left: 250px;
  top: 150px;
  background: white;
  padding: 12px 16px;
  border-radius: 10px;
  font-weight: bold;
}

